@page "/loginpage"
@inject Blazored.LocalStorage.ILocalStorageService localst
@*<EditForm Model="Registerlogin" >
    <DataAnnotationsValidator></DataAnnotationsValidator>
 
    <InputText id="Email" @bind-Value="Registerlogin.Email"></InputText>
    <ValidationMessage For="@(()=>Registerlogin.Email)"></ValidationMessage>
    <InputText id="Password" @bind-Value="Registerlogin.Password"></InputText>
    <ValidationMessage For="@(()=>Registerlogin.Password)"></ValidationMessage>
  

    <button type="submit" @onclick="()=>Login(Registerlogin.Email,Registerlogin.Password)" class="btn btn-success">Login</button>
</EditForm>*@




<!doctype html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="logincss/css/style.css">

</head>
<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Login</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="fa fa-user-o"></span>
						</div>
						<a href="/register"><h3 class="text-center mb-4">Have an account?</h3></a>
						<EditForm Model="Registerlogin" class="login-form">
							<DataAnnotationsValidator></DataAnnotationsValidator>
							<div class="form-group">
								<InputText id="Email" @bind-Value="Registerlogin.Email" class="form-control rounded-left" placeholder="Username"></InputText>
								<ValidationMessage For="@(()=>Registerlogin.Email)"></ValidationMessage>
							</div>
							<div class="form-group d-flex">
								
								<InputText  id="Password" @bind-Value="Registerlogin.Password"  class="form-control rounded-left" placeholder="Password"></InputText>
								<ValidationMessage For="@(()=>Registerlogin.Password)"></ValidationMessage>
							</div>
			
							<div class="form-group">
								<button type="submit" @onclick="()=>Login(Registerlogin.Email,Registerlogin.Password)" class="btn btn-success">Login</button>
							</div>
									<div class="form-group">
							<span style="color:red">@message</span>
							</div>
						</EditForm>
					</div>
				</div>
			</div>
		</div>
	</section>
	


</body>
</html>














@*<!doctype html>
<html lang="en">
  <head>
  	<title>Login 08</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="logincss/css/style.css">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Login #08</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
		      	<div class="icon d-flex align-items-center justify-content-center">
		      		<span class="fa fa-user-o"></span>
		      	</div>
		      	<h3 class="text-center mb-4">Have an account?</h3>
						<form action="#" class="login-form">
		      		<div class="form-group">
		      			<input type="text" class="form-control rounded-left" placeholder="Username" required>
		      		</div>
	            <div class="form-group d-flex">
	              <input type="password" class="form-control rounded-left" placeholder="Password" required>
	            </div>
	            <div class="form-group d-md-flex">
	            	<div class="w-50">
	            		<label class="checkbox-wrap checkbox-primary">Remember Me
									  <input type="checkbox" checked>
									  <span class="checkmark"></span>
									</label>
								</div>
								<div class="w-50 text-md-right">
									<a href="#">Forgot Password</a>
								</div>
	            </div>
	            <div class="form-group">
	            	<button type="submit" class="btn btn-primary rounded submit p-3 px-5">Get Started</button>
	            </div>
	          </form>
	        </div>
				</div>
			</div>
		</div>
	</section>



	</body>
</html>*@



