@page "/Showjoin"
<h3>Showjoin</h3>

@if (News != null)
{
    <table>
        <tr>
            <td>
                Name
            </td>
            <td>Address</td>
            <td>CategoryId</td>
            <td>Category Name</td>
            <td>Image</td>
      
        </tr>
        @foreach (var item in News)
        {

            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.address
                </td>
                <td>
                    @item.categoryId
                </td>
                <td>
                    @item.category.Name
                </td>
                <td>
                  @*  <img src="@item.imgpath" style="width:150px">*@
                    <MudAvatar>
                        <MudImage Src="@item.imgpath" Style="width:100%"></MudImage>
                    </MudAvatar>
                </td>

            </tr>



        }
    </table>
}
else
{
    <p>loading.........</p>

}
